/* Estilos del contenedor del header */
.header-container{
  top: 0;
  z-index: 5;
  position: sticky;
  background-color: #070018;
  height: 10vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  align-items: center;
}

/* Estilos del logo */
.header-logo-container img{
  width: 4rem;
}

/* Estilos de nav */

.header-nav-lista{
  gap: 1rem;
  display: flex;
}
.header-nav-lista-item{
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  &:hover{
    border-bottom: 3px solid aqua;
  }
}
.seccion-actual{
  color: aqua;
  border-bottom: 3px solid aqua;
}

/* Animacion del logo al hover */

.logo-animation{
  transition: all ease .2s;
  &:hover{
    transform: scale(1.1);
  }
}